.input-field {
    display: inline-block;
    width: 100%;
    position: relative;
    font-weight: 200;
    margin-bottom: 50px;
    font-size: 20px;
}

.input-field > input[type="text"],input[type="email"],textarea {
    display: inline-block;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    font-size: 18px;
    line-height: 24px;
    color: #474747;
    resize: vertical;
    overflow: hidden;
}

.input-field>textarea {
    display: inline-block;
    width: 100%;
    line-height: 20px;
    padding-bottom: 10px;
}

.input-field > label {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    text-align: left;
    cursor: text;
    transition: 0.8s;
    line-height: 25px;
    padding-bottom: 16px;
}

.input-field > input:focus,textarea:focus {
    outline: none;
    border-bottom: 2px solid #000;
}

.active {
    font-size: 16px;
    padding: 0 !important;
    transform: translateY(-120%);
    transition: 0.8s;
}


